<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin - Rock! Rock! Rock!</title>
    <meta name="description" content="New York's Finest Rock Band!">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/img/disk_2_180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/disk_16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/disk_1_32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/img/disk_2_180x180.png">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="/css/vanilla-zoom.min.css">
</head>

<body>
<main>
    <div class="container">

        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <h1>404</h1>
            <h2>The page you are looking for doesn't exist.</h2>
            <a class="btn" href="/">Back to home</a>
            <img src="/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
        </section>

    </div>
</main><!-- End #main -->

<footer class="page-footer dark">
    <div class="footer-copyright">
        <p>RockBand © 2022&nbsp;Version 0.0.1</p>
    </div>
</footer>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>